<div class="parallax-1">
  <mz-parallax 
    [height]="200">
    <img class="img-parallax-1" src="../../assets/images/city_home.jpg">
  </mz-parallax>
</div>
<mz-card
  class="red accent-1 mz-card-1"
  [horizontal]="true">
  <mz-card-title>
    Search all informations of countries
  </mz-card-title>
  <mz-card-content>
    Click me and look an infinity of informations of many countries.
  </mz-card-content>
  <mz-card-action>
    <a class="card-button" routerLink="/allcountryes">Click me!</a>
  </mz-card-action>
</mz-card>

<div class="parallax-1">
  <mz-parallax 
    [height]="200">
    <img class="img-parallax-2" src="../../assets/images/city_home_2.jpg">
  </mz-parallax>
</div>
<mz-card
  class="purple lighten-2 mz-card-2"
  [horizontal]="true">
  <mz-card-title>
    Search for specific countries
  </mz-card-title>
  <mz-card-content>
    Click me and insert a name or a part of a name and see informations about this country.
  </mz-card-content>
  <mz-card-action>
    <a class="card-button" routerLink="/specificcountry">Click me!</a>
  </mz-card-action>
</mz-card>
